* {
    margin: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 70px;
}

.goodluck {
    font-weight: bold;
    font-size: 30px;
}

#win {
    display: none;
    font-size: 72px;
    color: red;
}
#startgame {
    font-family: inherit;
    font-size: inherit;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: yellow;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
}

#canvas {
    margin: auto;
}
